@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Rubik:wght@400;500;700&display=swap');

.App {
  font-family: 'Rubik', 'Italiano';
  background-color: #f5f6f8;
}

.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  font-size: xx-large;
  font-weight: 600;
}

/* .bpm-slider input {
  width: 100%;
  margin: 10px;
  
} */


.startstop {
  background: #ff671f;
  padding: 10px;
  width:fit-content;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #ff671f;
}
.startstop:hover {
  background-color: #ffa176;
  color: #000000;
}

.plusminus {
  background: #f5f6f8;
  width: 40px;
  color: #ff671f;
  font-size: xx-large;
  border-radius: 50%;
  font-weight: 300;
  border: 4px;
  border-color: #ff671f;
}
.plusminus:hover {
  background-color: #ff671f;
  color: #f5f6f8;
}


.big-bpm {
  font-size: 100%;
  font-weight: 200;
}

.bpm-small {
  font-size: medium;
  font-weight: 400;
}

.slider {
  background-color: #f5f6f8;

}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 75%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ffa176;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #ff8750;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background:#ff671f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background:  #ff671f;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #ff671f;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid  #ff671f;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background:  #ff671f;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background:  #ff671f;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid  #ff671f;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background:  #ff671f;
}
input[type=range]:focus::-ms-fill-upper {
  background:  #ff671f;
}

.time {
  border: 0px solid #000000;
  border-radius: 25px;
  background-color: #f5f6f8;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  font-size: xx-large;
  font-weight: 350;
}

.keyselect {
  border: 0px solid #000000;
  border-radius: 25px;
  background-color: #f5f6f8;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  font-size: xx-large;
  font-weight: 350;
}

.time:hover {
  background-color: #ffa176;
  color: #000000;
}

.keyselect:hover {
  background-color: #ffa176;
  color: #000000;
}

.song {
  font-weight: lighter;
}